<header>O Melhor site de vendas!</header>
<h3> acesse nosso catalogo acima</h3>
<main>
    <section id="about">
        <h2>Sobre Nós</h2>
        <h4>O nosso site de vendas é o lugar ideal para encontrar tudo o que você precisa. Com uma ampla seleção de
            produtos de alta qualidade, oferecemos uma experiência de compra conveniente e segura.</h4>
    </section>

    <section id="benefits">
        <h2>Por que escolher nosso site de vendas?</h2>
        <ul>
            <li>Ampla variedade de produtos para atender suas necessidades.</li>
            <li>Produtos de alta qualidade com preços competitivos.</li>
            <li>Processo de compra simples e seguro.</li>
            <li>Entrega rápida e confiável.</li>
            <li>Atendimento ao cliente excepcional.</li>
        </ul>
    </section>
</main>