<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<nav>
    <a href="/">Home</a>
    <a href="/dashboard">catalogo</a>
</nav>

<body>
    {{{body}}}
</body>
<footer>
    Meu Site de Venda &copy; 2023. Todos os direitos reservados.
</footer>

</html>